@import '~@angular/material/theming';

body {
  font-size: 16px;
}

@import './tailwind-custom.css';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.active-menu {
  font-weight: 500;
  color: mat-color(mat-palette($mat-amber), 700);
}

button {
  outline: none !important;
}
