<div class="branding">
  <a class="logo"
     routerLink="/home"><img src="/assets/images/logo.png"></a>
  <h1 class="app-name">Course App</h1>
</div>

<div class="menu-items-container">

  <a class="menu-item hover:bg-gray-200 "
     routerLink="/home"
     routerLinkActive="active-menu">
    <mat-icon class="menu-item__icon">dashboard</mat-icon>
    <div class="menu-item__label">Dashboard</div>
  </a>

  <a class="menu-item hover:bg-gray-200"
     routerLink="/account"
     routerLinkActive="active-menu">
    <mat-icon class="menu-item__icon">account_balance</mat-icon>
    <div class="menu-item__label">Account</div>
  </a>

  <a class="menu-item hover:bg-gray-200"
     routerLink="/movies"
     routerLinkActive="active-menu">
    <mat-icon class="menu-item__icon">videocam</mat-icon>
    <div class="menu-item__label">Movies</div>
  </a>

</div>
