@import '~@angular/material/theming';

.course-dialog-container {
  .header {
    display: grid;
    grid-template-columns: 1fr 50px;

    .title {
      font-weight: 500;
      font-size: 1.25rem;
      align-self: center;
    }

    mat-icon {
      width: 2rem;
      height: 2rem;
      cursor: pointer;
      font-size: 2rem;
      align-self: center;
      justify-content: center;

      &:hover {
        color: red;
      }
    }
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0rem 2rem;
    margin: 1rem 0rem;
  }

  .footer {
    display: grid;
    align-content: center;
    justify-items: end;
    padding-bottom: 0.5rem;

    .submit-btn {
      padding: 0.5rem inherit;
      text-transform: uppercase;
    }
  }
}
